*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root{
    --light-green: #0CA364;
    --danger-red: #D41021;
    --bg-white: #FFF; 
    --border-style: .25rem;
}

.main-title{
    text-align: center;
    margin: 4rem 0 2rem 0;
}

.task-container{
    text-align: center;
}

.task-container .task-input, .task-button{
    font-size: 1rem;
    height: 50px;
    outline: 0;
    padding-left: 1rem;
    width: 350px;
}

.task-container .task-input:focus{
    border: 1px solid var(--light-green);
    box-shadow: 3px 3px 10px var(--light-green);
}

.error{
    border: 1px solid var(--danger-red);
}

.error::placeholder{
    color: var(--danger-red);
}

.task-button{
    background-color: var(--light-green);
    border: 0;
    border-radius: var(--border-style);
    color: var(--bg-white);
    cursor: pointer;
    padding-left: 0;
    width: 150px;
}

.task-button:hover{
    background-color: #169460;
}

.tasks-todo{
    width: 65%;
    margin: 0 auto;
}

.tasks-todo .task-content{
    border: 1px solid var(--light-green);
    border-radius: var(--border-style);
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 1rem;
}

.icons-box .fa-trash-can, .fa-check{
    background-color: var(--danger-red);
    border-radius: var(--border-style);
    color: var(--bg-white);
    cursor: pointer;
    padding: 10px;
}

.icons-box .fa-check{
    background-color: var(--light-green);
    margin-right: 10px;
}

.completed{
    color: rgba(0,0,0,0.2);
    text-decoration: line-through;
}